body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  background: white;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
s